@font-face {
    font-family: 'autour_oneregular';
    src: url('autourone-regular-webfont.woff2') format('woff2'),
         url('autourone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'dancing_scriptregular';
  src: url('dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
       url('dancingscript-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
--blue0:#021024;
--blue1:#052659;
--blue2:#5483B3;
--blue3:#7DA0CA;
--blue4:#C1E8FF;
--black-color:#000;
--transition:.4s ease-in
}

html {
scroll-behavior:smooth;
overflow-x:hidden;
}

* {
margin:0;
padding:0;
box-sizing:border-box;
transition:var(--transition)
}
.logo_name{
color:#fff;
font-size:50px;
font-family: 'autour_oneregular';
font-weight: bold;
top: 3%;
}
.logo-details {
	color:#fff;
	font-size:30px
}

.wrapper {
position:fixed;
top:0;
left:0;
height:100%;
width:100%;
z-index:1000;
background: rgba(4, 4, 4, 0.45);
scroll-behavior: inherit;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(4, 4, 4, 0.3);
clip-path:circle(25px at calc(100% - 45px) 45px);
transition:all var(--transition)
}

#active:checked ~ .wrapper {
clip-path:circle(75%)
}

.menu-btn {
position:fixed;
z-index:1001;
right:4rem;
top:20px;
height:50px;
width:50px;
text-align:center;
line-height:50px;
border-radius:50%;
font-size:20px;
color:#fff;
cursor:pointer;
background:linear-gradient(-135deg,#c850c0,#4158d0);
transition:all .3s ease-in-out
}

#active:checked ~ .menu-btn {
background:#fff;
color:#4158d0
}

#active:checked ~ .menu-btn i:before {
content:"\f00d"
}

.wrapper ul {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
list-style:none;
text-align:center
}

.wrapper ul li {
margin:15px 0
}

.wrapper ul li a {
color:none;
text-decoration:none;
font-size:30px;
font-weight:500;
padding:5px 30px;
color:#fff;
position:relative;
line-height:50px;
transition:all .3s ease
}

.wrapper ul li a:after {
position:absolute;
content:"";
background:#fff;
width:100%;
height:50px;
left:0;
border-radius:50px;
transform:scaleY(0);
z-index:-1;
transition:transform .3s ease
}

.wrapper ul li a:hover:after {
transform:scaleY(1)
}

.wrapper ul li a:hover {
color:#4158d0
}

input[type="checkbox"] {
display:none
}

#vid-background {
width:100vw;
height:100vh;
object-fit:cover;
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
z-index:-1
}

@media (max-width: 750px) {


}

.header {
margin-top:20rem;
color:#000
}

.hero{
  height: 100vh;
}
.hero-header {
width:700px;
height:300px;
padding:4rem;
background:rgba(255,254,254,0.81);
border-radius:16px;
-webkit-box-shadow:0 0 34px 0 rgba(0,0,0,0.75);
-moz-box-shadow:0 0 34px 0 rgba(0,0,0,0.75);
box-shadow:0 0 34px 0 rgba(0,0,0,0.75);
backdrop-filter:blur(2.5px);
-webkit-backdrop-filter:blur(2.5px);
border:1px solid rgba(255,254,254,0.62)
}

.container-hero {
position:absolute;
width:24px;
height:24px;
padding-left:48%;
bottom:100px
}

.chevron {
position:absolute;
width:28px;
height:8px;
opacity:0;
transform:scale3d(0.5,0.5,0.5);
animation:move 3s ease-out infinite
}

.chevron:first-child {
animation:move 3s ease-out 1s infinite
}

.chevron:nth-child(2) {
animation:move 3s ease-out 2s infinite
}

.chevron:before,.chevron:after {
content:' ';
position:absolute;
top:0;
height:100%;
width:51%;
background:#fff
}

.chevron:before {
left:0;
transform:skew(0deg,30deg)
}

.chevron:after {
right:0;
width:50%;
transform:skew(0deg,-30deg)
}

@keyframes move {
25% {
opacity:1
}

33% {
opacity:1;
transform:translateY(30px)
}

67% {
opacity:1;
transform:translateY(40px)
}

100% {
opacity:0;
transform:translateY(55px) scale3d(0.5,0.5,0.5)
}
}

@keyframes pulse {
to {
opacity:1
}
}

li {
list-style:none
}

/*About section*/


.about{
  padding-top: 2%;
  background-color: #fffaf0  ;
}
#about_us img {
  width: 100%;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
}

#about_us .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  width: 300px;
  background: linear-gradient(135deg, #0ff0b3 0%, #036ed9 100%);
  overflow: hidden;
  font-family: sans-serif;
  box-shadow: 0 0 20px #00000070;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 5rem auto;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.03);
}

.top-section {
  position: relative;
}

.name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 40px;
  color: #fff;
  line-height: 1;
  opacity: 0.8;
}

.name span {
  background: #333;
  padding: 0 5px;
}

.name span:last-of-type {
  text-transform: uppercase;
  font-weight: 600;
}

.info-section {
  padding: 0 40px 40px;
  color: #fff;
  opacity: 0.8;
}

h2 {
  padding: 1rem 0 1rem;
}

h2:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  background: #fff;
}

p {
  text-align: justify;
}

.social {
  display: flex;
  justify-content: space-evenly;
}

.social a {
  font-size: 20px;
  color: linear-gradient(135deg, #ff57b9 0%, #a704fd 100%);
  transition: all 0.4s;
}

.social a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  #about_us .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 1100px) {
  #about_us .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}



/**footer**/
footer {
position:absolute;
background:#140B5C;
width:100%;

}

footer::before {
content:'';
position:absolute;
left:0;
top:100px;
height:1px;
width:100%;
background:#AFAFB6
}

footer .content {
max-width:1250px;
margin:auto;
padding:30px 40px 40px
}

footer .content .top {
display:flex;
align-items:center;
justify-content:space-between;
margin-bottom:50px
}

.content .top .logo-details {
color:#fff;
font-size:30px
}

.content .top .media-icons {
display:flex
}

.content .top .media-icons a {
height:40px;
width:40px;
margin:0 8px;
border-radius:50%;
text-align:center;
line-height:40px;
color:#fff;
font-size:17px;
text-decoration:none;
transition:all .4s ease
}

.top .media-icons a:nth-child(1) {
background:#4267B2
}

.top .media-icons a:nth-child(1):hover {
color:#4267B2;
background:#fff
}

.top .media-icons a:nth-child(2) {
background:#1DA1F2
}

.top .media-icons a:nth-child(2):hover {
color:#1DA1F2;
background:#fff
}

.top .media-icons a:nth-child(3) {
background:#E1306C
}

.top .media-icons a:nth-child(3):hover {
color:#E1306C;
background:#fff
}

.top .media-icons a:nth-child(4) {
background:#0077B5
}

.top .media-icons a:nth-child(4):hover {
color:#0077B5;
background:#fff
}

.top .media-icons a:nth-child(5) {
background:red
}

.top .media-icons a:nth-child(5):hover {
color:red;
background:#fff
}

footer .content .link-boxes {
width:100%;
display:flex;
justify-content:space-between
}

footer .content .link-boxes .box {
width:calc(100% / 5 - 10px)
}

.content .link-boxes .box .link_name {
color:#fff;
font-size:18px;
font-weight:400;
margin-bottom:10px;
position:relative
}

.link-boxes .box .link_name::before {
content:'';
position:absolute;
left:0;
bottom:-2px;
height:2px;
width:35px;
background:#fff
}

.content .link-boxes .box li {
margin:6px 0;
list-style:none
}

.content .link-boxes .box li a {
color:#fff;
font-size:14px;
font-weight:400;
text-decoration:none;
opacity:.8;
transition:all .4s ease
}

.content .link-boxes .box li a:hover {
opacity:1;
text-decoration:underline
}

.content .link-boxes .input-box {
margin-right:55px
}

.link-boxes .input-box input {
height:40px;
width:calc(100% + 55px);
outline:none;
border:2px solid #AFAFB6;
background:#140B5C;
border-radius:4px;
padding:0 15px;
font-size:15px;
color:#fff;
margin-top:5px
}

.link-boxes .input-box input::placeholder {
color:#AFAFB6;
font-size:16px
}

.link-boxes .input-box input[type="button"] {
background:#fff;
color:#140B5C;
border:none;
font-size:18px;
font-weight:500;
margin:4px 0;
opacity:.8;
cursor:pointer;
transition:all .4s ease
}

.input-box input[type="button"]:hover {
opacity:1
}

footer .bottom-details {
width:100%;
background:#0F0844
}

footer .bottom-details .bottom_text {
max-width:1250px;
margin:auto;
padding:20px 40px;
display:flex;
justify-content:space-between
}

.bottom-details .bottom_text span,.bottom-details .bottom_text a {
font-size:14px;
font-weight:300;
color:#fff;
opacity:.8;
text-decoration:none
}

.bottom-details .bottom_text a:hover {
opacity:1;
text-decoration:underline
}

.bottom-details .bottom_text a {
margin-right:10px
}

@media (max-width: 900px) {
footer .content .link-boxes {
flex-wrap:wrap
}

footer .content .link-boxes .input-box {
width:40%;
margin-top:10px
}
}

@media (max-width: 700px) {
footer {
position:relative
}

.content .top .logo-details {
font-size:26px
}

.content .top .media-icons a {
height:35px;
width:35px;
font-size:14px;
line-height:35px
}

footer .content .link-boxes .box {
width:calc(100% / 3 - 10px)
}

footer .content .link-boxes .input-box {
width:60%
}

.bottom-details .bottom_text span,.bottom-details .bottom_text a {
font-size:12px
}
}

@media (max-width: 520px) {
footer::before {
top:145px
}

footer .content .top {
flex-direction:column
}

.content .top .media-icons {
margin-top:16px
}

footer .content .link-boxes .box {
width:calc(100% / 2 - 10px)
}

footer .content .link-boxes .input-box {
width:100%
}
}



/*services*/

.services {
	min-height: 100vh;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
  }

  .section-lead {
	max-width: 600px;
	margin: 1rem auto 1.5rem;
  }
  
  .service a {
	color: #5b7abb;
	display: block;
  }
  


  
  .service {
  font-family: 'dancing_scriptregular';
	background: #fff;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #e7e7e7;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  
  .service:hover {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  }
  
  .service i {
	font-size:4rem;
	margin: 1rem 0;
  }
  
  .service1 i,
  .service1 h4,
  .service1 .cta {
	color: #42b7ca;
  }
  
  .service1:hover {
	border: 2px solid #42b7ca;
  }
  
  .service2 i,
  .service2 h4,
  .service2 .cta {
	color: #425fca;
  }
  
  .service2:hover {
	border: 2px solid #425fca;
  }
  
  .service3 i,
  .service3 h4,
  .service3 .cta {
	color: #9c42ca;
  }
  
  .service3:hover {
	border: 2px solid #9c42ca;
  }
  
  .service .cta span {
	font-size: 0.6rem;
  }
  
  .service > * {
	flex: 1 1 100%;
  }
  
  .service .cta {
	align-self: flex-end;
  }
  
  @media all and (max-width:900px) {
	.services-grid {
	  display: -webkit-box;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  flex-direction: column;
	}
  }