:root {
    --primary-color: #0652dd;
    --secondary-color: #ea2027;
    --black-color: #000000;
    --transition: 0.4s ease-in;
  }
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}
/* From https://css.glass */
.nav-link{
    color: white;
}
.nav{
    color: white ;
    position: sticky;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    z-index: 3;
    /*test*/
}
.nav .logo{
    padding-top: 2rem;
    padding-bottom: 0;
    float: left;

}
.nav .logo a{
    color: white;
}
.nav-2{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    float: right;
    padding: 2rem 1.5rem;

}

.hamburger {
    display: none;
  }

.nav-2 .nav-item{
    margin-left: 2rem;
    list-style-type: none;
}
.logo {
    padding-top: 1%;
    font-size: 2rem;
    font-weight: 500;
  }
.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(76, 130, 211);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
  }
  .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #vid-background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

@media (max-width: 750px) {
    #vid-background { display: none; }
}



.header{
  margin-top: 20rem;
  color: black;

}

.hero-header{
  /* From https://css.glass */
  width: 700px;
  height: 300px;
  padding: 4rem;
  background: rgba(255, 254, 254, 0.81);
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 254, 254, 0.62);
}

.container-hero {
  position: relative;
  width: 24px;
  height: 24px;
  padding-left: 48%;
  padding-right: 48%;
  padding-top: 25%;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}