<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Framework-Documentations</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
      
        <meta property="og:title" content="Website" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="add link later" />
        <meta property="og:image"
          content="https://images.unsplash.com/photo-1516515429572-bf32372f2409?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80" />
      
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="icon.png" />
      
        <!-- <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css"> -->
        <link rel="stylesheet" href="../static/css/normalize.css" />
        <link rel="stylesheet" href="../static/css/skeleton.css" />
        <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.css" />
        <link rel="stylesheet" href="../static/css/style.css" !important />
      
        <link rel="manifest" href="../site.webmanifest" />
        <meta name="theme-color" content="#fafafa" />
      </head>
<body>
    <section class="hero">
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><i class="fa fa-bars"></i></label>
        <div class="wrapper">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#about_us">About</a></li>
            <li><a href="/#services">Services</a></li>
            <li><a href="/#projects">Projects</a></li>
            <li><a href="/#comments">Comments</a></li>
            <li><a href="docs">Documentation</a></li>
          </ul>
        </div>
    
        <div class="u-cf"></div>
        </div>
        </div>
        <!-- Hero section -->
        </div>
</body>
</html>