<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8" />
  <title>CSS Framework</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="Website" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="add link later" />
  <meta property="og:image"
    content="https://images.unsplash.com/photo-1516515429572-bf32372f2409?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80" />

  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" href="/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="icon.png" />

  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css"> -->
  <link rel="stylesheet" href="../static/css/normalize.css" />
  <link rel="stylesheet" href="../static/css/skeleton.css" />
  <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" href="../static/css/style.css" !important />

  <link rel="manifest" href="site.webmanifest" />
  <meta name="theme-color" content="#fafafa" />
</head>

<body>

  <section class="hero">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fa fa-bars"></i></label>
    <div class="wrapper">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#about_us">About</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/#comments">Comments</a></li>
        <li><a href="docs">Documentation</a></li>
      </ul>
    </div>

    <div class="u-cf"></div>
    </div>
    </div>
    <!-- Hero section -->
    </div>
    <video autoplay muted loop id="vid-background">
      <source src="../static/img/background.mp4" type="video/mp4" />
    </video>
    <div class="container">
      <div class="row">
        <div class="six columns header">
          <div class="hero-header">
            <h1 class="hero-h-text">WebDevs</h1>
            <h3 class="hero-sub">There is nothing impossible for us</h3>
            <p class="hero-text">give us your idea, and you can rely on us to bring it to reality</p>
            <a href="samplepage"><button class="button button-primary">Sample Page <il class="fa fa-arrow-right"></il>
              </button></a>
          </div>
        </div>
      </div>

    </div>

    <div class="container-hero">
      <a href="#about_us">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </a>
    </div>

  </section>
  <div class="u-cf"></div>
  <!-- Dark/light theme switcher -->

  <!-- About section -->
  <section class="about" id="about_us">
    <h2 class="u-text-center">Our Team</h2>
    <h4 class="u-text-center">Here you can read about our team members</h4>
    <div class="landing">
      <div class="container">
        <div class="card">
          <div class="top-section">
            <img
              src="https://images.pexels.com/photos/450214/pexels-photo-450214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <div class="name">
              <span>Tao</span>
              <br />
              <span>Yang</span>
            </div>
          </div>
          <div class="info-section">
            <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p>
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="#about_us" class="fa fa-facebook-square"></a>
              <a href="#about_us" class="fa fa-twitter"></a>
              <a href="#about_us" class="fa fa-instagram"></a>
              <a href="#about_us" class="fa fa-youtube"></a>
              <a href="#about_us" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/woman_2.jpg"
              alt=""
            />
            <div class="name">
              <span>Lila</span>
              <br />
              <span>Mason</span>
            </div>
          </div>
          <div class="info-section">
            <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p>
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="#about_us" class="fa fa-facebook-square"></a>
              <a href="#about_us" class="fa fa-twitter"></a>
              <a href="#about_us" class="fa fa-instagram"></a>
              <a href="#about_us" class="fa fa-youtube"></a>
              <a href="#about_us" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/woman_3.jpeg"
              alt=""
            />
            <div class="name">
              <span>Kelly</span>
              <br />
              <span>Howard</span>
            </div>
          </div>
          <div class="info-section">
            <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p>
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="#about_us" class="fa fa-facebook-square"></a>
              <a href="#about_us" class="fa fa-twitter"></a>
              <a href="#about_us" class="fa fa-instagram"></a>
              <a href="#about_us" class="fa fa-youtube"></a>
              <a href="#about_us" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/man_4.avif"
              alt=""
            />
            <div class="name">
              <span>dumbass</span>
              <br />
              <span>dumbo</span>
            </div>
          </div>
          <div class="info-section">
            <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p>
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="#about_us" class="fa fa-facebook-square"></a>
              <a href="#about_us" class="fa fa-twitter"></a>
              <a href="#about_us" class="fa fa-instagram"></a>
              <a href="#about_us" class="fa fa-youtube"></a>
              <a href="#about_us" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/man_5.avif"
              alt=""
            />
            <div class="name">
              <span>dumbass</span>
              <br />
              <span>dumbo</span>
            </div>
          </div>
          <div class="info-section">
            <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p>
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="#about_us" class="fa fa-facebook-square"></a>
              <a href="#about_us" class="fa fa-twitter"></a>
              <a href="#about_us" class="fa fa-instagram"></a>
              <a href="#about_us" class="fa fa-youtube"></a>
              <a href="#about_us" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/woman_4.avif"
              alt=""
            />
            <div class="name">
              <span>dumbass</span>
              <br />
              <span>dumbo</span>
            </div>
          </div>
          <div class="info-section">
            <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p>
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="#about_us" class="fa fa-facebook-square"></a>
              <a href="#about_us" class="fa fa-twitter"></a>
              <a href="#about_us" class="fa fa-instagram"></a>
              <a href="#about_us" class="fa fa-youtube"></a>
              <a href="#about_us" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container">
      <h1 class="u-text-center">Our Team</h1>
      <p>We are a enthauistic team fr :joy:</p>
      <div class="row">
        <div class="twelve columns">
          <li class="one-third column">
            <a href="https://swop.link/cool" target="_blank" class="profile">
              <h2 class="profile__name">Anita Simmons</h2>
              <p>Founder</p>
              <img alt="Portrait of Anita Simmons" src="../static/img/woman_1.jpg" />
            </a>
          </li>

          <li class="one-third column">
            <a href="https://swop.link/cool" target="_blank" class="profile">
              <h2 class="profile__name">Celina Harris</h2>
              <p>Creative Director</p>
              <img alt="Portrait of Celina Harris" src="../static/img/man_1.jpg" />
            </a>
          </li>

          <li class="one-third column">
            <a href="https://swop.link/cool" target="_blank" class="profile">
              <h2 class="profile__name">Ruby Morris</h2>
              <p>Technical Lead</p>
              <img alt="Portrait of Ruby Morris" src="https://source.unsplash.com/pQyIutdScOY/800x800" />
            </a>
          </li>
        </div>
        <div class="twelve columns">
          <li class="one-third column">
            <a href="https://swop.link/cool" target="_blank" class="profile">
              <h2 class="profile__name">Anita Simmons</h2>
              <p>Founder</p>
              <img alt="Portrait of Anita Simmons" src="../static/img/man_2.jpg" />
            </a>
          </li>

          <li class="one-third column">
            <a href="https://swop.link/cool" target="_blank" class="profile">
              <h2 class="profile__name">Celina Harris</h2>
              <p>Creative Director</p>
              <img alt="Portrait of Celina Harris" src="../static/img/woman_2.jpg" />
            </a>
          </li>

          <li class="one-third column">
            <a href="https://swop.link/cool" target="_blank" class="profile">
              <h2 class="profile__name">Ruby Morris</h2>
              <p>Technical Lead</p>
              <img alt="Portrait of Ruby Morris" src="../static/img/man_3.jpg" />
            </a>
          </li>
        </div>
      </div>
    </div> -->
  </section>



  <!-- Comments -->

  <!-- Social icons & Footer -->
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fa fa-slack"></i>
          <span class="logo_name">WebDevs</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fa fa-facebook-f"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Documentation</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">App design</a></li>
          <li><a href="#">Web design</a></li>
          <li><a href="#">Logo design</a></li>
          <li><a href="#">Banner design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Account</li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">My account</a></li>
          <li><a href="#">Prefrences</a></li>
          <li><a href="#">Purchase</a></li>
        </ul>
        <!-- <ul class="box">
          <li class="link_name">Courses</li>
          <li><a href="#">HTML & CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Photoshop</a></li>
        </ul> -->
        <ul class="box input-box">
          <li class="link_name">Subscribe</li>
          <li><input type="text" placeholder="Enter your email"></li>
          <li><input type="button" value="Subscribe"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2023 <a href="#">WebDevs</a>All rights reserved</span>

      </div>
    </div>
  </footer>

  <!-- Scroll to top button -->

  <script src="js/app.js"></script>
</body>

</html>