<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8" />
  <title>CSS Framework</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="Website" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="add link later" />
  <meta property="og:image"
    content="https://images.unsplash.com/photo-1516515429572-bf32372f2409?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80" />

  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" href="/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="icon.png" />

  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css"> -->
  <link rel="stylesheet" href="../static/css/normalize.css" />
  <link rel="stylesheet" href="../static/css/skeleton.css" />
  <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" href="../static/css/style.css" !important />

  <link rel="manifest" href="../site.webmanifest" />
  <meta name="theme-color" content="#fafafa" />
</head>

<body>

  <section class="hero">

    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fa fa-bars"></i></label>
    <div class="wrapper">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#about_us">About</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#projects">projects</a></li>
        <li><a href="docs">Documentation</a></li>
      </ul>
    </div>

    <div class="u-cf"></div>
    </div>
    </div>
    <!-- Hero section -->
    </div>
    <video autoplay muted loop id="vid-background">
      <source src="../static/img/background.mp4" type="video/mp4" />
    </video>
    <div class="container">
      <div class="logo-details">
        <i class="fa fa-slack"></i>
        <span class="logo_name">WebDevs</span>
      </div>
      <div class="row">
        <div class="six columns header">
          <div class="hero-header">
            <h1 class="hero-h-text">WebDevs</h1>
            <h3 class="hero-sub">There is nothing impossible for us</h3>
            <p class="hero-text">give us your idea, and you can rely on us to bring it to reality</p>
            <a href="samplepage"><button class="button button-primary">Sample Page <il class="fa fa-arrow-right"></il>
              </button></a>
          </div>
        </div>
      </div>

    </div>

    <div class="container-hero">
      <a href="#about_us">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </a>
    </div>

  </section>
  <div class="u-cf"></div>
  <!-- Service section -->

  <!-- About section -->
  <section class="about" id="about_us">
    <h2 class="u-text-center">Our Team</h2>
    <div class="landing">
      <div class="container">
        <div class="card">
          <div class="top-section">
            <img
              src="https://images.pexels.com/photos/450214/pexels-photo-450214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <div class="name">
              <span>Tao</span>
              <br />
              <span>Yang</span>
            </div>
          </div>
          <div class="info-section">
            <!-- <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p> -->
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-facebook-square"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-twitter"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-instagram"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-youtube"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/woman_2.jpg"
              alt=""
            />
            <div class="name">
              <span>Lila</span>
              <br />
              <span>Mason</span>
            </div>
          </div>
          <div class="info-section">
            <!-- <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p> -->
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-facebook-square"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-twitter"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-instagram"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-youtube"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/woman_3.jpeg"
              alt=""
            />
            <div class="name">
              <span>Kelly</span>
              <br />
              <span>Howard</span>
            </div>
          </div>
          <div class="info-section">
            <!-- <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p> -->
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-facebook-square"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-twitter"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-instagram"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-youtube"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/man_4.avif"
              alt=""
            />
            <div class="name">
              <span>Henry </span>
              <br />
              <span>Henryson</span>
            </div>
          </div>
          <div class="info-section">
            <!-- <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p> -->
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-facebook-square"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-twitter"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-instagram"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-youtube"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/man_5.avif"
              alt=""
            />
            <div class="name">
              <span>Ingo </span>
              <br />
              <span>Euter </span>
            </div>
          </div>
          <div class="info-section">
            <!-- <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p> -->
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-facebook-square"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-twitter"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-instagram"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-youtube"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top-section">
            <img
              src="../static/img/woman_4.avif"
              alt=""
            />
            <div class="name">
              <span>Bettina </span>
              <br />
              <span>Huch</span>
            </div>
          </div>
          <div class="info-section">
            <!-- <h2>
              About
              <div></div>
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi
              vitae facere atque reiciendis consequuntur corrupti magnam
              officiis quos nobis!
            </p> -->
            <h2>
              contact
              <div></div>
            </h2>
            <div class="social">
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-facebook-square"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-twitter"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-instagram"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-youtube"></a>
              <a href="https://r.mtdv.me/ELOVgHOCSm" class="fa fa-codepen"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

  <section class="services" id="services">
    <h2>Our Services</h2>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <div class="four columns">
            <div class="service service2">
              <i class="fa fa-code"></i>
              <h4>Backend</h4>
              <p class="u-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia vitae cumque quasi eveniet omnis eum?</p>
              <a href="#" class="cta">Read More <span class="fa fa-angle-right"></span></a>
            </div>
          </div>
          <div class="four columns">
            <div class="service service1">
              <i class="fa fa-desktop"></i>
              <h4>Screen Designs</h4>
              <p class="u-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia vitae cumque quasi eveniet omnis eum?</p>
              <a href="#" class="cta">Read More <span class="fa fa-angle-right"></a>
            </div>
          </div>
          <div class="four columns">
            <div class="service service3">
              <i class="fa fa-picture-o"></i>
              <h4>Logos&Banners</h4>
              <p class="u-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia vitae cumque quasi eveniet omnis eum?</p>
              <a href="#" class="cta">Read More <span class="fa fa-angle-right"></a>
            </div>
          </div>
  
          <div class="service service2 ">
            <i class="fa fa-css3"></i>
            <h4>Front End</h4>
            <p class="u-text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fugiat molestiae beatae magni atque expedita amet a voluptates dolore illo ut possimus in aut culpa nihil quibusdam nemo deserunt nam minus, sunt commodi. Est debitis aut suscipit tempore? Aliquam nesciunt, ipsa similique in at impedit. Doloremque qui illum molestiae iste!
            </p>
            <a href="#" class="cta">Read More <span class="fa fa-angle-right"></a>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Projects -->
  <section id="projects">
      <h2 class="u-text-center">Projects</h2>
  <section class="cards-wrapper" >

    <div class="card-grid-space">
      <div class="num">01</div>
      <a class="card-projects" href="https://portfolio.kynh.repl.co" style="--bg-img: url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80)">
        <div>
          <h1>Portfolio</h1>
          <p>Here is my first portfolio, but it is outdated, I havent worked on it since alot of time</p>
          <div class="date">6 Oct 2017</div>
          <div class="tags">
            <div class="tag">HTML/CSS</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <div class="num">02</div>
      <a class="card-projects" href="https://portfolio.khaledmarzouk1.repl.co" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
        <div>
          <h1>Job Application</h1>
          <p>I had to make this website for an job Application</p>
          <div class="date">9 Oct 2017</div>
          <div class="tags">
            <div class="tag">HTML/CSS</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <div class="num">02</div>
      <a class="card-projects" href="https://astolfo-best-girl.kynh.repl.co" style="--bg-img: url('https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80')">
        <div>
          <h1>Well, and this...</h1>
          <p>I was bored one day, so I decided to make this, just because of boredom</p>
          <div class="date">9 Oct 2017</div>
          <div class="tags">
            <div class="tag">HTML/CSS</div>
          </div>
        </div>
      </a>
    </div>
   
    <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
  </section>

  <!-- Social icons & Footer -->
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fa fa-slack"></i>
          <span class="logo_name">WebDevs</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fa fa-facebook-f"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="docs">Documentation</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">App design</a></li>
          <li><a href="#">Web design</a></li>
          <li><a href="#">Logo design</a></li>
          <li><a href="#">Banner design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Account</li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">My account</a></li>
          <li><a href="#">Prefrences</a></li>
          <li><a href="#">Purchase</a></li>
        </ul>
        <ul class="box input-box">
          <li class="link_name">Subscribe</li>
          <li><input type="text" placeholder="Enter your email"></li>
          <li><input type="button" value="Subscribe"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2023 <a href="#">WebDevs</a>All rights reserved</span>

      </div>
    </div>
  </footer>

  <!-- Scroll to top button -->

  <script src="js/app.js"></script>
</body>

</html>